// Advertisement
.module-ad {
  h6 {
    font-size: 14px;
    text-align: center;
    font-weight: 400;
    text-transform: uppercase;
  }
}
// About
.module__about {
  max-width: 530px;
  margin: 0 auto;
  .module__title {
    font-size: 18px;
    font-weight: 800;
    margin-bottom: 16px;
    text-align: center;
  }
  p {
    font-size: 17px;
    line-height: 2;
  }
}
