@use "./mixins";

.layout {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

main {
  flex: 1;
  width: 100%;
  margin: 0 auto;
}

// Header
.header__inner {
  padding: 0 72px;
  @include mixins.respond-to("md") {
    padding: 0 24px;
  }
  h1 {
    font-family: var(--title-font);
    line-height: 80px;
    text-align: center;
    a {
      &:hover {
        opacity: 1;
      }
    }
  }
  nav {
    background-color: var(--white);
  }
}
.header__nav {
  display: flex;
  justify-content: center;
  column-gap: 48px;
  @include mixins.respond-to("md") {
    column-gap: 24px;
  }
}
.nav__item {
  display: block;
  padding: 12px 0;
}

// Footer
footer {
  margin-top: 120px;
}
.footer__inner {
  padding: 40px 72px;
  @include mixins.respond-to("lg") {
    padding: 40px 24px;
  }
}
.nav__social {
  li {
    display: inline-block;
  }
}
.footer__group {
  display: flex;
  justify-content: space-between;
  padding: 72px 0 0;
  @include mixins.respond-to("md") {
    flex-direction: column;
    align-items: flex-end;
    row-gap: 24px;
  }
}
.nav__infos {
  display: flex;
  column-gap: 32px;
  @media screen and (max-width: 520px) {
    flex-direction: column;
    width: 100%;
    li {
      line-height: 180%;
      a {
        display: block;
        padding: 8px 0;
      }
    }
  }
}

// Index
.wrapper {
  --wrapper__ideal-width: calc(1330 / 1440 * 100%);
  --wrapper__max-width: 114.375rem;
  --wrapper__min-gutter: var(--space-l);
  width: var(--wrapper__ideal-width);
  max-width: min(
    100% - var(--wrapper__min-gutter) * 2,
    var(--wrapper__max-width)
  );
  margin: 0 auto;
}
.page-with-sidebar {
  display: flex;
  flex-direction: row;
  column-gap: var(--space-2xl);
  @include mixins.respond-to("lg") {
    flex-direction: column;
  }
  section {
    flex-grow: 4;
  }
  aside {
    flex-grow: 1;
  }
}
section {
  padding: var(--space-xl) 0 var(--space-2xl);
}
.page-single {
  .section__title {
    margin-bottom: 16px;
  }
}
.sidebar {
  display: flex;
  flex-direction: column;
  row-gap: var(--space-xl);
  padding-top: var(--space-xl);
}
.section__title {
  font-size: 24px;
  margin-bottom: 4px;
  @include mixins.respond-to("md") {
    font-size: 19px;
    margin-bottom: 8px;
  }
}
