.layout {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

main {
  flex: 1;
  width: 100%;
  max-width: 1300px;
  margin: 0 auto;
  padding: 0;
}

// Header
.header__inner {
  padding: 0 72px;
  h1 {
    font-family: var(--title-font);
    line-height: 80px;
    text-align: center;
  }
  nav {
    background-color: var(--white);
    position: sticky;
  }
}
.header__nav {
  display: flex;
  justify-content: center;
  column-gap: 48px;
}
.nav__item {
  display: block;
  padding: 12px 0;
}

// Footer
.footer__inner {
  padding: 40px 72px;
}
.nav__social {
  li {
    display: inline-block;
  }
}
.footer__group {
  display: flex;
  justify-content: space-between;
  padding: 72px 0 0;
}
.nav__infos {
  display: flex;
  column-gap: 32px;
}

// Index

section {
  padding: 56px 0 80px;
}
.section__title {
  line-height: 180%;
  margin-bottom: 16px;
}
.article__group {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(405px, 1fr));
  column-gap: 40px;
  row-gap: 64px;
}
figure {
  img {
    border: 1px solid #ececec;
    width: 100%;
    height: 100%;
  }
}
.newest {
  figure {
    width: 405px;
    height: 228px;
    aspect-ratio: 16 / 9;
  }
}
.article__text {
  margin-bottom: 8px;
  p {
    font-size: 14px;
    line-height: 1.4;
    color: var(--gray);
  }
}
.title {
  font-size: 18px;
  line-height: 180%;
  margin-bottom: 8px;
}
.article__meta {
  display: flex;
  column-gap: 16px;
  margin-top: 12px;
  time,
  p {
    font-size: 16px;
  }
  time {
    color: var(--secondary-color);
  }
  p {
    font-weight: bold;
  }
}
