@use "./mixins";

.page__container {
  max-width: 800px;
  margin: 0 auto;
  padding: 56px 40px 0;
  @include mixins.respond-to("sm") {
    padding-right: 0;
    padding-left: 0;
  }
}
figure {
  img {
    border: 1px solid #ececec;
    vertical-align: bottom;
    width: inherit;
    height: inherit;
  }
}
.new-entry-list {
  display: flex;
  flex-direction: column;
  margin-bottom: var(--space-m);
  .entry {
    &:first-child {
      border-top: 1px solid var(--primary-color);
    }
  }
  .entry__link {
    display: flex;
    align-items: flex-start;
    column-gap: 16px;
    padding: 24px 0 29px;
    border-bottom: 1px solid var(--border-color);
    @include mixins.respond-to("md") {
      padding: 16px 0 20px;
    }
  }
  figure {
    width: 160px;
    height: 160px;
    @include mixins.respond-to("md") {
      max-width: 80px;
      width: 100%;
      height: 80px;
    }
    img {
      border-radius: 24px;
      object-fit: cover;
      aspect-ratio: 1/1;
      @include mixins.respond-to("md") {
        border-radius: 8px;
      }
    }
  }
  .entry-list-title {
    display: flex;
    flex-direction: column-reverse;
    .title {
      font-size: var(--step-0);
      font-weight: 500;
      line-height: 1.5;
      margin-top: 8px;
      @include mixins.respond-to("md") {
        font-size: var(--step-0);
      }
    }
  }
}
.date {
  font-size: 16px;
  color: var(--gray);
}
.popular-entry-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 40px;
  row-gap: 64px;
  @include mixins.respond-to("md") {
    grid-template-columns: repeat(2, 1fr);
    column-gap: 10px;
  }
  img {
    border-radius: 4px;
    aspect-ratio: 16 / 9;
  }
  .entry-list-title {
    .title {
      font-size: var(--step-0);
      font-weight: 400;
      line-height: 1.667;
      color: var(--primary-color);
    }
    .category {
      font-size: 16px;
      font-weight: bold;
      padding: 8px 0;
    }
    .date {
      padding: 4px 0 0;
    }
  }
}
.see-more__button {
  text-align: center;
  a {
    display: inline-block;
    font-size: var(--step-0);
    padding: var(--space-xs) var(--space-s);
    border: 1px solid var(--primary-color);
    border-radius: 50px;
  }
}
.entry-wrapper {
  max-width: 760px;
  margin: 0 auto;
}
.entry-header {
  margin-bottom: 40px;
  .categories {
    font-weight: 600;
    padding-bottom: 16px;
  }
  .title {
    font-size: 40px;
    line-height: 1.5;
    padding-bottom: 8px;
  }
  .entry-lead {
    font-size: 16px;
    line-height: 1.5;
    padding-bottom: 16px;
  }
}
.entry-image {
  img {
    width: 100vw;
    max-width: 1160px;
    height: 580px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    aspect-ratio: 2/1;
    object-fit: cover;
  }
}
.entry-content {
  padding-top: 580px;
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin: 32px 0;
  }
  ul,
  ol {
    margin-inline-start: 24px;
    li {
      list-style-type: disc;
      padding: 8px 0;
    }
  }
  p {
    font-size: 19px;
    line-height: 1.667;
    color: var(--text-color);
  }
  img {
    aspect-ratio: 16/9;
    vertical-align: bottom;
    margin: 40px 0;
  }
  hr {
    height: 8px;
    background-image: repeating-linear-gradient(
      45deg,
      var(--border-color) 0,
      var(--border-color) 1px,
      transparent 0,
      transparent 50%
    );
    background-size: 8px 8px;
    max-width: 400px;
    margin: 40px auto;
  }
}
// 404 page
.error__container {
  h1 {
    margin-bottom: 40px;
  }
  a {
    display: block;
    max-width: 240px;
    margin: 40px auto 0;
    padding: 8px 12px;
    border: 1px solid var(--primary-color);
    border-radius: 50px;
    font-weight: 600;
    &:hover {
      background: var(--primary-color);
      color: var(--white);
    }
  }
}
