:root {
  --primary-color: #222;
  --secondary-color: #888;
  --gray: #666;
  --light-gray: #999;
  --white: #fff;

  --accent-color: #ff8c42;
  --text-link-color: #2d68e5;
  --text-color: #333;

  // border
  --border-color: #ddd;

  --title-font: "Caveat", san-serif;
}
