---
import Layout from '../layouts/Layout.astro';
---
<Layout>
  <section class="page__container">
    <div class="error__container">
      <h1 class="text-center">ページが見つかりません</h1>
      <p class="text-center">お探しのページは存在しないか、移動された可能性があります。</p>
      <a href="/" class="text-center">トップページへ戻る</a>
  </div>
  </section>
</Layout>