---
import Layout from '../layouts/Layout.astro';
---

<Layout title="About" description="">
  <section class="page__container">
    <h1 class="entry-title text-center">About This Media</h1>
<div class="page__entry">
  <h4>このメディアの成り立ち</h4>
  <p>
    旅の荷物は、本当にそんなに必要でしょうか？
    <br />
    あれもいる、これも持っていきたいと思って、持ち物を選んでも移動の多い旅先で、バッグが重く肩にのしかかり、疲れが背中に広がる経験をしたことはありませんか？
    <br /><br />
    このメディアは、”OneBagTravel”「バッグひとつで旅に出る」ことをテーマにした旅行記メディアです。持ち物を最小限にすることで、身軽に、自由に、そして心地よく旅をする。その実践を記録し、アイデアやノウハウをシェアするために、このメディアを立ち上げました。
    <br /><br />
    ここでは、実際の旅の記録や、パッキングのコツ、現地での過ごし方など、"身軽に旅を楽しむ" ためのヒントを発信していきます。 「荷物を減らして旅をもっと快適にしたい」「ミニマルなスタイルで世界を巡りたい」
    —— そんな人に役立つ情報を届けられたら嬉しいです。
    <br /><br />
    さあ、バッグひとつで旅に出よう！
  </p>
  <hr>
  <h4>About Me</h4>
  <p>はじめまして、こんにちは！ “CarryOnMyWay!”を運営・編集しているHarukaです。<br />
    これまでに留学や旅行で計5カ国を訪れました。
    いつも「もっと身軽に旅を楽しめないか？」と考えながら、バッグひとつで動き回る旅を実践中です。
    このメディアでは、旅先での発見、ミニマルな持ち物リスト、"OneBagTravel"をモットーに身軽な旅のコツなどを発信しています。
    <br /><br />
    また、旅に役立つアイテム を紹介することもあり、その一部にはAmazonアソシエイツなどのアフィリエイトリンクを含んでいます。
    購入していただいた場合、運営者に少しばかりの報酬が入りますが、紹介する商品は実際に使って良かったものを厳選しています。
    <br />
    このサイトが、あなたの旅をより快適にする手助けになれば嬉しいです！
  </p>
  <h5>詳しいプロフィール</h5>
  <p>兵庫県西宮市生まれ。大学でWebデザインとコーディングを学び、大学卒業後はウェブ制作会社に従事する。
    プライベートでも、趣味である旅行や文通に関する小規模なサイトを作っている。
  </p>
  <hr>
  <h4>PRや記事執筆の依頼・このメディアで記事を寄稿したい人を募集しています</h4>
  <p>CarryOnMyWay!では、PR記事の執筆や旅行記事の寄稿を受け付けています。<br />
    <li>PR・記事執筆のご依頼</li>
      <p>旅に関するサービスや製品の紹介記事を執筆可能です。詳細はお問い合わせください。</p>
    <li>記事を寄稿したい方へ</li>
    <p>「OneBagTravel」のコンセプトに共感し、ご自身の旅の経験をシェアしたい方を募集しています。
      <li>ミニマルな旅、軽量なパッキング</li>
      <li>バックパッカー、ワーキングホリデー、ノマドライフ</li>
      <li>旅先での気づきやライフスタイル</li>
      などのテーマで執筆したい方は、ぜひご連絡ください！
    <br />
    興味のある方は、お問い合わせページからお気軽にご連絡ください。</p>
</div>
  </section>
</Layout>