---
import Layout from '../layouts/Layout.astro';
---

<Layout>
	<section>
		<h4 class="section__title">New</h4>
		<div class="article__group">
			<article class="newest">
				<a href="/posts/">
					<figure><img src="../src/assets/ogimage.jpg" alt="/title" /></figure>
					<div class="article__text">
						<h2 class="title">記事タイトルが入ります。記事タイトルが入ります。</h2>
						<p class="exerpt">記事の概要文が3行程度入ります。記事の概要文が3行程度入ります。記事の概要文が3行程度入ります。記事の概要文が3行程度入ります。</p>
					</div>
				</a>
				<div class="article__meta">
					<time datetime="">2025-02-01</time>
					<p>Category</p>
				</div>
			</article>
			<article class="newest">
				<a href="/posts/">
					<figure><img src="../src/assets/ogimage.jpg" alt="/title" /></figure>
					<div class="article__text">
						<h2 class="title">記事タイトルが入ります。</h2>
						<p class="exerpt">記事の概要文が3行程度入ります。記事の概要文が3行程度入ります。記事の概要文が3行程度入ります。記事の概要文が3行程度入ります。</p>
					</div>
				</a>
				<div class="article__meta">
					<time datetime="">2025-02-01</time>
					<p>Category</p>
				</div>
			</article>
			<article class="newest">
				<a href="/posts/">
					<figure><img src="../src/assets/ogimage.jpg" alt="/title" /></figure>
					<div class="article__text">
						<h2 class="title">記事タイトルが入ります。</h2>
						<p class="exerpt">記事の概要文が3行程度入ります。記事の概要文が3行程度入ります。記事の概要文が3行程度入ります。記事の概要文が3行程度入ります。</p>
					</div>
				</a>
				<div class="article__meta">
					<time datetime="">2025-02-01</time>
					<p>Category</p>
				</div>
			</article>
		</div>
	</section>
	<section>
		<h4 class="section__title">Popular</h4>
		<div class="article__group">
			<article class="popular">
				<a href="/posts/">
					<figure><img src="../src/assets/ogimage.jpg" alt="/title" /></figure>
					<div class="article__text">
						<p class="category">Category</p>
						<h2 class="title">記事タイトルが入ります。記事タイトルが入ります。</h2>
					</div>
				</a>
				<div class="article__meta">
					<time datetime="">2025-02-01</time>
					<li class="meta__tag">タグ</li>
				</div>
			</article>
		</div>
	</section>
</Layout>