---
import Layout from '../layouts/Layout.astro';
import About from '../components/About.astro';
import Ad from '../components/Ad.astro';
import { newtClient } from '../lib/newt'
import type { Article } from '../lib/newt'

const { items: articles } = await newtClient.getContents<Article>({
  appUid: 'blog',
  modelUid: 'article',
  query: {
    select: ['title', 'slug', 'body'],
  },
})
---

<Layout>
	<div class="wrapper">
		<div class="page-with-sidebar">
			<section>
				<h4 class="section__title">New</h4>
				<div class="new-entry-list">
					{
						articles.map((article) => {
							return (
							<article class="entry">
								<a href={`/posts/${article.slug}`} class="entry__link">
								<figure><img src="../src/assets/ogimage.jpg" alt="ogimage" width="160" height="160" /></figure>
								<div class="entry-list-title">
									<h2 class="title">{article.title}</h2>
									<p class="date"><time>2025-02-03</time></p>
								</div>
								</a>
							</article>
							)
						})
					}
				</div>
				<div class="see-more__button"><a href="/archive">もっとみる</a></div>
			</section>
			<aside class="sidebar">
				<div class="sidebar-module__ad">
					<Ad />
				</div>
				<div class="sidebar-module__profile">
					<About />
				</div>
			</aside>
		</div>
		<div class="page-single">
			<section>
				<h4 class="section__title">Pickup</h4>
				<div class="popular-entry-list">
					<article class="entry">
						<a href="/" class="entry__link">
							<figure><img src="../src/assets/ogimage.jpg" alt="ogimage" width="160" height="160" /></figure>
							<div class="entry-list-title">
								<p class="category">Category</p>
								<h2 class="title">2泊3日、青森を堪能する。八甲田山と遭難と寒さと。</h2>
								<p class="date"><time>2025-02-03</time></p>
							</div>
						</a>
					</article>
					<article class="entry">
						<a href="/" class="entry__link">
							<figure><img src="../src/assets/ogimage.jpg" alt="ogimage" width="160" height="160" /></figure>
							<div class="entry-list-title">
								<p class="category">Category</p>
								<h2 class="title">青森で海鮮丼ランチ</h2>
								<p class="date"><time>2025-02-03</time></p>
							</div>
						</a>
					</article>
					<article class="entry">
						<a href="/" class="entry__link">
							<figure><img src="../src/assets/ogimage.jpg" alt="ogimage" width="160" height="160" /></figure>
							<div class="entry-list-title">
								<p class="category">Category</p>
								<h2 class="title">1泊2日、30歳。大人ひとりで行く沖縄・那覇</h2>
								<p class="date"><time>2025-02-03</time></p>
							</div>
						</a>
					</article>
				</div>
			</section>
		</div>
</div>
</Layout>