---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Privacy Policy">
  <section class="page__container">
    <h1 class="entry-title text-center">Privacy Policy</h1>
    <div class="page__entry">
      <h3>1. 当サイトについて</h3>
      <p>
        CarryOnMyWay!は、カバンひとつで旅を楽しむ「OneBagTravel」をテーマに、旅の実践記録や持ち物リスト、便利なアイテムの紹介などを発信する旅行記メディアです。
      </p>
      <h3>2. アフィリエイトについて</h3>
      <p>
      当サイトでは、一部の記事にアフィリエイトリンクを含んでいます。特に、Amazonアソシエイト・プログラムなどのアフィリエイトサービスを利用し、商品やサービスを紹介することがあります。
      Amazonアソシエイト・プログラムに関する表記CarryOnMyWay!は、Amazon.co.jpを宣伝しリンクすることによってサイトが紹介料を獲得できるAmazonアソシエイト・プログラムの参加者です。
      </p>
      <p>
        <b>アフィリエイトリンクの目的</b>
        <li>サイト運営の継続や品質向上のための資金に充てるため</li>
        <li>旅に役立つ情報を提供し、読者の皆さまに有益な商品を紹介するため</li>
        <li>掲載する商品・サービスは、運営者が実際に使用したもの、もしくは調査の上でおすすめできると判断したもののみを厳選しています。</li>
      </p>
      <h3>3. 免責事項</h3>
      
      <p>当サイトで紹介する商品やサービスの購入・利用は、読者ご自身の判断と責任でお願いいたします。
      商品の価格や在庫状況、提供内容は変更される可能性があります。購入の際は、必ず販売元の公式サイトで最新情報をご確認ください。
      掲載内容については正確性を心がけていますが、情報が古くなったり誤りが含まれる可能性もあります。あらかじめご了承ください。</p>
      
      <h3>4. 著作権について</h3>
      
      <p>当サイトに掲載されている文章・画像の著作権は、運営者に帰属します。無断転載・複製・改変などは禁止しております。引用の際は、必ず出典を明記してください。</p>
      
      <h3>5. お問い合わせ</h3>
      
      <p>当サイトに関するお問い合わせは、お問い合わせページよりお願いいたします。</p>
    </div>
    
  </section>
</Layout>
