<div class="module__about">
  <h1 class="module__title">ABOUT</h1>
  <p>このメディアは、”OneBagTravel”「バッグひとつで旅に出る」ことをテーマにした旅行記メディアです。持ち物を最小限にすることで、身軽に、自由に、そして心地よく旅をする。その実践を記録し、アイデアやノウハウをシェアするために、このメディアを立ち上げました。</p>
</div>