<div class="module-about">
  <img src="../src/assets/profile.jpg" alt="profile picture" />
  <div class="about-title">
    <h6>HARUKA</h6>
    <p>兵庫県出身・ライター<br/ >
      旅・留学に関する記事を書いています。</p>
  </div>
  <a href="/">詳しいプロフィールをみる</a>
</div>