<footer>
  <div class="footer__inner">
    <ul class="nav__social">
      <li><a href="/">Instagram</a></li>
      <li><a href="/">Youtube</a></li>
    </ul>
    <div class="footer__group">
      <ul class="nav__infos">
        <li><a href="/about">このサイトについて</a></li>
        <li><a href="/contact">お問い合わせ</a></li>
        <li><a href="/policy">プライバシーポリシー</a></li>
      </ul>
      <p class="copyright"><span>&copy;</span>2024{' '}CarryOnMyWay!</p>
    </div>
  </div>
</footer>