<header>
  <div class="header__inner">
    <h1><a href="/">CarryOnMyWay!</a></h1>
    <nav>
      <ul class="header__nav">
        <li><a href="/" class="nav__item">Parts Of Japan</a></li>
        <li><a href="/" class="nav__item">Overseas</a></li>
        <li><a href="/" class="nav__item">Packing List</a></li>
      </ul>
    </nav>
  </div>
</header>